<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <!-- Afișează numele utilizatorului autentificat -->
        <span class="navbar-text text-dark">Hello, @User.Identity?.Name!</span>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <!-- Afișează opțiunile Login și Register pentru utilizatorii neautentificați -->
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Register</a>
        </li>
    }
</ul>